//
//  ProductionDebug.xcconfig
//  xcconfig-sample
//

#include "../Pods/Target Support Files/Pods-xcconfig-sample/Pods-xcconfig-sample.productiondebug.xcconfig"
#include "Common/Common.xcconfig"
#include "Environment/Production.xcconfig"
#include "BuildType/Debug.xcconfig"
#include "Provisioning/Debug.xcconfig"
#include "Common/Combine.xcconfig"
