//
//  QaDebug.xcconfig
//  xcconfig-sample
//

#include "../Pods/Target Support Files/Pods-xcconfig-sample/Pods-xcconfig-sample.qadebug.xcconfig"
#include "Common/Common.xcconfig"
#include "Environment/Qa.xcconfig"
#include "BuildType/Debug.xcconfig"
#include "Provisioning/Debug.xcconfig"
#include "Common/Combine.xcconfig"
