//
//  QaRelease.xcconfig
//  xcconfig-sample
//

#include "../Pods/Target Support Files/Pods-xcconfig-sample/Pods-xcconfig-sample.qarelease.xcconfig"
#include "Common/Common.xcconfig"
#include "Environment/Qa.xcconfig"
#include "BuildType/Release.xcconfig"
#include "Provisioning/Internal.xcconfig"
#include "Common/Combine.xcconfig"
