//
//  Combine.xcconfig
//  xcconfig-sample
//
//  Created by Jaakko Kangasharju on 29.08.17.
//  Copyright © 2017 Futurice. All rights reserved.
//

FRAMEWORK_SEARCH_PATHS = $(PODS_FRAMEWORK_SEARCH_PATHS) $(COMMON_FRAMEWORK_SEARCH_PATHS) $(ENVIRONMENT_FRAMEWORK_SEARCH_PATHS) $(BUILD_FRAMEWORK_SEARCH_PATHS)
HEADER_SEARCH_PATHS = $(PODS_HEADER_SEARCH_PATHS) $(COMMON_HEADER_SEARCH_PATHS) $(ENVIRONMENT_HEADER_SEARCH_PATHS) $(BUILD_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(PODS_LIBRARY_SEARCH_PATHS) $(COMMON_LIBRARY_SEARCH_PATHS) $(ENVIRONMENT_LIBRARY_SEARCH_PATHS) $(BUILD_LIBRARY_SEARCH_PATHS)
GCC_PREPROCESSOR_DEFINITIONS = $(PODS_GCC_PREPROCESSOR_DEFINITIONS) $(COMMON_GCC_PREPROCESSOR_DEFINITIONS) $(ENVIRONMENT_GCC_PREPROCESSOR_DEFINITIONS) $(BUILD_GCC_PREPROCESSOR_DEFINITIONS)
OTHER_CFLAGS = $(PODS_OTHER_CFLAGS) $(COMMON_OTHER_CFLAGS) $(ENVIRONMENT_OTHER_CFLAGS) $(BUILD_OTHER_CFLAGS)
OTHER_LDFLAGS = $(PODS_OTHER_LDFLAGS) $(COMMON_OTHER_LDFLAGS) $(ENVIRONMENT_OTHER_LDFLAGS) $(BUILD_OTHER_LDFLAGS)
OTHER_SWIFT_FLAGS = $(PODS_OTHER_SWIFT_FLAGS) $(COMMON_OTHER_SWIFT_FLAGS) $(ENVIRONMENT_OTHER_SWIFT_FLAGS) $(BUILD_OTHER_SWIFT_FLAGS)
